page-order {

}

// .small-thumbnail {
//     max-width: 30px;
//     max-height: 30px;
//     img {
//         max-width: 30px;
//         max-height: 30px;
//     }
// }
.item ion-thumbnail {
    min-width: 5rem;    
    min-height: 5rem;
    img {
        max-width: 5rem;    
        min-width: 5rem;
        max-height: 5rem;
    }
}

.quantity {
    width:10px;
    text-align: center;
}

// .card .item {
//     border-bottom: 1px solid #f4f4f4;
// }

// .card .item-devider{
//     font-size: 4rem;
// }